ADMIN_EMAIL = admin@mail.com
ADMIN_PASSWORD = admpass
CLOUDINARY_API_KEY = CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET = CLOUDINARY_API_SECRET
CLOUDINARY_CLOUD_NAME = CLOUDINARY_CLOUD_NAME
EMAIL_FROM = emailing_vars
EMAIL_HOST = emailing_vars
EMAIL_PASS = emailing_vars
EMAIL_PORT = emailing_vars
EMAIL_USER = emailing_vars
FRONTEND_URL = http://localhost:3000
GOOGLE_CALLBACK_URL= http://localhost:5000/api/auth/google/callback
GOOGLE_CLIENT_ID = GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET = GOOGLE_CLIENT_SECRET
JWT_COOKIE_EXPIRE = 30
JWT_EXPIRE = 30d
JWT_SECRET = JWT_SECRET
MONGODB_URI = MONGODB_URI
NODE_ENV = development
PORT = 5000